doctype html
html
    head
        title chat
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
        script(src="/socket.io/socket.io.js")
        script(src="ugly-bundle.js")
    body
        div.container
        header
            h1 A Node.js, Websocket chat app
        input(type='text')#pseudoInput
        button#pseudoSet Set Pseudo
        div#chatEntries
        div#chatControls
            input(type='text')#messageInput
            button#submit Send
